.nav-layout {
    background-color: #001529;

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-bar {
        font-size: 1.8rem;
        line-height: 3.5;
    }

    .header-btn-group {
        display: flex;
        gap: 2rem;
    }

    .button-item {
        background-color: #1677ff;
        font-size: 1.6rem;
    }

    .humburgger {
        display: flex;
        align-items: center;

        .menu-icon {
            color: #fff;
            font-size: 2.5rem;
        }
    }
}


@media screen and (max-width:767.98px) {
    .nav-layout {
        .nav {
            padding: 2rem;
        }

        .button-item {
            font-size: 1.4rem;
        }
    }
}