.ant-modal-content {
    padding: 4rem 4.5rem !important;

    .ant-modal-header {
        margin-bottom: 3rem;

        .ant-modal-title {
            text-align: center;
            text-transform: uppercase;

            font: {
                size: 4rem;
                weight: 500;
            }

            ;
        }
    }

    .ant-modal-close {
        display: block;
    }

    .ant-modal-body {

        .ant-form {

            .ant-form-item-control-input {
                font-size: 2rem;

            }
        }
    }
}

/* ------------ Sign Up Modal ---------------- */

.ant-form-item-label {
    text-align: start !important;
}