.update-section {
    overflow: hidden;
    margin-right: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    h1 {
        margin-bottom: 1rem;
        background-color: #b1caed;
        position: relative;
        z-index: 9999;
        padding: 1rem 2rem;
        color: #07164a;

        font: {
            size: 3rem;
            weight: 700;
        }
    }

    .update-box {
        width: 100%;
        max-width: 500px;
        height: 600px;
        padding: 1rem 2rem;
        position: relative;

        .update-item {
            font-size: 1.7rem;
            font-weight: 500;
            border-bottom: 1px solid #000;
            line-height: 3.5;
            animation: scrollUp 2s linear infinite;

            &:last-child {
                border: none;
                line-height: 0 !important;
            }
        }
    }
}

@keyframes scrollUp {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100%);
    }
}

/* ---- Media Query For About Section ---- */
@media screen and (max-width: 574.98px) {
    .update-section {
        h1 {
            font-size: 2.5rem;
        }

        .update-box {
            .update-item {
                font-size: 1.6rem;
            }
        }
    }
}