.admin-section {
    background-color: #001529;

    h1 {
        text-align: center;
        margin: 2rem 0;
        color: azure;

        font: {
            size: 4rem;
            weight: 700;
        }
    }

    p {
        text-align: center;
        color: azure;
        margin: 1rem 0;

        font: {
            size: 2rem;
            weight: 500;
        }
    }
}



.dashboard {

    .admin-sidebar {
        padding: 1.5rem 0;
        height: 80vh;
    }

    .main-data {
        padding: 3rem;
    }
}