html {
    font-size: 10px;
}

.container {
    width: 100%;
    max-width: 1420px;
    margin: 0 auto;
    overflow: hidden;
}

ul,
li {
    list-style: none;
}

// => slideUP

@keyframes slideInUp {
    from {
        transform: translateY(100%);
        visibility: visible
    }

    to {
        transform: translateY(0)
    }
}

.slideInUpAnimation {
    animation: slideInUp 1s ease both;
}

// => zoomIn

@keyframes zoomIn {
    from {
        transform: scale(0);
        visibility: visible
    }

    to {
        ttransform: scale(1);
    }
}

.zoomInAnimation {
    animation: zoomIn 1s ease both;
}

/* ---- Social Media Links ----- */

.social-media-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    .social-icon {
        font-size: 2.6rem;
        transition: all 0.3s ease;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }
    }

    .facebook-icon {
        color: #6c80ab;
    }

    .instagram-icon {
        color: #e4405f;
    }

    .linkedin-icon {
        color: #79a7c0;
    }

    .youtube-icon {
        color: #ff0000;
    }
}

/* ---- Buttons ----- */

.button-item {
    background-color: #1677ff;
    font-size: 1.6rem
}