html {
    font-size: 10px;
}

body {
    font-size: 16px;
    color: #000000;
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    max-width: 1420px;
    margin: 0 auto;
    overflow: hidden;
}

ul,
li {
    list-style: none;
}

.heading-h1 {
    text-align: center;
    margin: 4rem 0;

    font: {
        size: 5rem;
        weight: 700;
    }
}



/* ---- Social Media Links ----- */

.social-media-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    .social-icon {
        font-size: 2.6rem;
        transition: all 0.3s ease;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }
    }

    .facebook-icon {
        color: #6c80ab;
    }

    .instagram-icon {
        color: #e4405f;
    }

    .linkedin-icon {
        color: #79a7c0;
    }

    .youtube-icon {
        color: #ff0000;
    }
}

/* ---- Buttons ----- */

.button-item {
    background-color: #1677ff;
    font-size: 1.6rem
}



// => slideUP

@keyframes slideInUp {
    from {
        transform: translateY(100%);
        visibility: visible
    }

    to {
        transform: translateY(0)
    }
}

.slideInUpAnimation {
    animation: slideInUp 1s ease both;
}

// => slideDown

@keyframes slideInDown {
    from {
        transform: translateY(-100%);
        visibility: visible
    }

    to {
        transform: translateY(0)
    }
}

.slideInDownAnimation {
    animation: slideInDown 1s ease both;
}

// => slideRightToLeft

@keyframes slideRightToLeft {
    from {
        transform: translateX(100%);
        visibility: visible
    }

    to {
        transform: translateX(0)
    }
}

.slideRightToLeftAnimation {
    animation: slideRightToLeft 1s ease both;
}

// => zoomIn

@keyframes zoomIn {
    from {
        transform: scale(0);
        visibility: visible
    }

    to {
        ttransform: scale(1);
    }
}

.zoomInAnimation {
    animation: zoomIn 1s ease both;
}

/* ---- Media Query For Global ---- */


@media screen and (max-width: 1199.98px) {

    .container {
        padding: 0 2rem;
    }
}