.terms-section {
    overflow: hidden;

    .terms-paragraph {
        margin-bottom: 1.5rem;

        font: {
            size: 1.8rem;
            weight: 500;
        }
    }

    .terms-content {
        margin-bottom: 1.5rem;
        line-height: 2;

        h2 {

            font: {
                size: 2rem;
                weight: 700;
            }
        }

        h4 {
            font-size: 1.7rem;
        }

        p {
            font-size: 1.5rem;
        }
    }

    .term-bottom-content {
        margin-bottom: 1.5rem;

        .main-list {
            line-height: 1.8;

            span {

                font: {
                    size: 2rem;
                    weight: 700;
                }
            }



            p,
            .sub-list {
                padding-left: 2rem;
                font-size: 1.6rem;

            }
        }
    }



}