.terms-section {
    overflow: hidden;

    .terms-paragraph {
        color: #595959;
        margin-bottom: 1.5rem;

        font: {
            size: 1.8rem;
            weight: 500;
        }
    }

    .terms-content {
        margin-bottom: 1.5rem;
        line-height: 2;

        h2 {
            color: #000000;

            font: {
                size: 2rem;
                weight: 500;
            }
        }

        h4 {
            font-size: 1.7rem;
        }

        p {
            color: #595959;
            font-size: 1.5rem;
        }
    }

    .term-bottom-content {
        margin-bottom: 1.5rem;

        .main-list {
            line-height: 1.8;

            span {
                color: #000000;

                font: {
                    size: 2rem;
                    weight: 500;
                }
            }



            p,
            .sub-list {
                padding-left: 2rem;
                font-size: 1.6rem;

                li {
                    color: #595959;
                }
            }
        }
    }



}