/* --------- Slider Box - Left Section -------- */

.side-bar::-webkit-scrollbar {
    width: 0; 
}

.side-bar{
  scrollbar-width: none;
}

.select-group{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}

/* ----  Pricing ------ */



